@import url(common.css);
@import url(header.css);
@import url(footer.css);

/* animation */
@keyframes recycle{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}



body{
  background:url(../image/back_pattern.png);
  background-color:#f9f8f6
}

/* _______Main________ */
#main{
  position: relative;
  width:100%;
  height:500px;
}
#main .main_bg{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:inherit;
  background: linear-gradient(to top, rgba(249, 248, 246,1),rgba(249, 248, 246,0)),url(../image/sub_main04.jpg);
  background-size:cover;
  z-index:-1;
}
.header-caption h2{
  font-family: 'Kanit', sans-serif;
  width:1000px;
  text-align:left;
  position:absolute;
  top:40%;
  left:50%;
  transform:translateX(-50%);
  font-size:70px;
  font-weight:400;
  color: #f40009;
  text-transform:uppercase;
}



/* _______Section________ */
.area{
  opacity:0;
  margin-bottom:-300px;
  max-height:100%;
}
section{
  width:100%;
  height:100%;
}
#container .sec_title{
  text-align:center;
  font-size:35px;
  padding-top:130px;
}

/* button menu */
.smenu{
	padding: 80px 0;
}
.smenu ul{
	display: flex;
	justify-content: center;
  text-transform:uppercase;
  text-align:center;
}
.smenu ul li a{
	display: block;
	width: 150px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 10px;
	color: #f40009;
  background-color: transparent;
  border: 2px solid #f40009;
  box-shadow: inset 0 0 0 0 #f40009;
	transition:0.6s linear;
}
.smenu ul li a:not(.active):hover{
	box-shadow: inset 0 200px 0 0 #f40009;
  color: #fdd80f;
}
.smenu ul li a.active{
	background-color: #f40009;
	color: #fdd80f;
	border: 2px solid transparent;
}


/* content1 */
.content1{
  width:1000px;
  height:650px;
  display:flex;
  margin:auto;
}
.content1 h4{
  font-size:20px;
  flex:1;
  margin:25px 30px 0 0;
}
.content1 h4 b{
  display:inline-block;
  font-size:45px;
  margin-top:10px;
  text-transform:uppercase;
}
.con1{
  font-size:18px;
  line-height:35px;
  color:#555;
  flex:1;
}
.con1 p{margin:25px 0;}

.fa-rotate{
  display:block;
  text-align:center;
  margin-top:70px;
  font-size:150px;
  color:#8fadc1;
  animation:recycle 5s linear infinite;
}

/* deco */
.line{
  margin:auto;
  width: 2px;
  height: 170px;
  background-color: #fde988;
}

/* content2,3 */
.content2,
.content3{
  width:1400px;
  height:700px;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:60px auto;
}
.content2 img{
  width:780px;
  height:500px;
  margin-right:50px;
}
.con2{width:500px;}
.con2 h4,
.con3 h4{
  font-size:20px;
  margin-top:25px;
}
.con2 h4 b,
.con3 h4 b{
  display:inline-block;
  font-size:45px;
  margin-top:10px;
}
.con2 p,
.con3 p{
  padding-top:30px;
  font-size:18px;
  line-height:35px;
  color:#555;
}
.content3 img{
  width:780px;
  height:500px;
  margin-left:50px;
}
.con3{width:500px;}

/* content4 */
.con_4{
  padding:100px 0 150px;
  background:url(../image/pattern.png); 
}
.content4{
  font-family: 'MBC1961GulimM';
  width:1000px;
  height:600px;
  background-image: linear-gradient(to bottom, #f6d365 0%, #fda085 100%);
  margin:auto;
  position: relative;
  padding:30px 0;
}
.content4>h3{
  font-weight:normal;
  text-align: center;
  font-size:34px;
  letter-spacing:3px;
  color:#fff;
}
.content4 b{
  color:#D90404;
  font-size:38px;
  font-weight:normal;
}
.tabmenu{
  display: flex;
}
.tab-header{
  width:200px;
  position:relative;
}
.tab li{
  width:140px; 
  height:70px;
  box-sizing:border-box;
  float:left;
  border-bottom:1px solid #957070;
  color:#000;
  font-size:20px;
  text-align:center;
  line-height:70px;
  letter-spacing:3px; 
  position:relative;
  z-index:100;
}
.tab li.active{color:#fff;}
.tab-highlight{ 
  background:#6d5858; 
  width:140px;
  height:70px; 
  position:absolute;
  left:0px;
}
.tab-highlight:after{
  content:"";
  position:absolute;
  right:-12px;
  top:35%;
  margin-left:-17px;  
  z-index:10;
  width:0;
  height:0;
  border-top: 12px solid transparent;
  border-left: 12px solid #6d5858;
  border-bottom: 10px solid transparent;
}

.tab-contents div{
  margin-top:40px;
  width:600px;
  height:400px;
  padding:20px;
  display:none;
  text-align:center;
}
.tab-contents div.active{display:block}

.tab-contents #tab1{background-color:#D95E32;}
.tab-contents #tab2{background-color:#6FA687;}
.tab-contents #tab3{background-color:#ce84bd;}

.title{
  width:160px;
  font-size:50px;
  color: #F2CB05;
  margin:0 auto 25px;
  border-bottom: 1px solid #fff;
}
.tab-contents div dl{line-height:37px;}
.tab-contents div dl dt{
  font-size:25px;
  color:#fff;
}
.tab-contents div dl dd{
  font-size:18px;
  color:#f5efb2;
}
